# Firebase
FIREBASE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
FIREBASE_STORAGE_BUCKET=pii-shield-bd4ec.appspot.com

# Server
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
PORT=8000